

@font-face {
  font-family: 'Cyber';
  src: url("./fonts/Cyber.otf") format("opentype");

}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Red+Hat+Text&display=swap');

* {
  margin: 0;
  padding: 0;
}


a {
  color: #02F4F5;
}

button {
  margin: 5px;
}

li{

  margin: 0;
}

/* General Styles */

h1, h2, h3, li{
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  letter-spacing: 5px;

}



p{ 
  font-family: 'Red Hat Text', sans-serif; 
}

html {
  overflow-x: hidden;
}

body{ 
  background: rgb(4,20,71);
  background: linear-gradient(350deg, rgba(4,20,71,1) 0%, rgba(8,1,26,1) 35%, rgba(34,12,71,1) 100%); 
 
  vertical-align: middle;

  font-family: 'Red Hat Display', sans-serif;

  padding: 50px;

  overflow-x: hidden;
  max-width: 1600px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* General Styles */
.flex {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;

}

.text_white {
  color: white;
}

.small_text {
  font-size: 1rem;
  font-weight: 400;
}

.med_text {
  font-size: 2rem;
}

.big_text {
  font-size: 4rem;
}

.big_big_text {
  font-size: 8rem;
}

.half {
  width: 50%;
}

.MainHeader {
  font-family: 'Cyber';
  margin-top: 25px;
  margin-bottom: 80px;
  text-align: left;
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 4px;
  word-spacing: -8px;
  color: #6825E6;
  text-shadow: 
    -1px -1px 0 #280A5E,
    -2px -2px 0 #280A5E,
    -3px -3px 0 #280A5E,
    -4px -4px 0 #280A5E,
    -5px -5px 0 #280A5E,
    -6px -6px 0 #280A5E,
    -7px -7px 0 #280A5E,
    -8px -8px 0 #280A5E
}


#defineTitle {
  font-weight: bold;
  font-size: 2rem;
}

#defineTitle2 {
  font-weight: 100;
}
#MakeAWhaleMainContent {
  padding-left: 100px;
}
#HeaderV2 {
  padding-bottom: 100px;
  background-image: url('/BGelement.svg');
  background-repeat: no-repeat;
  background-position: 0 90%;
  background-size: 50%;
}

#HeaderV2_left {
  padding-left: 150px;
}

#navigation {
  position: fixed;
  left: 0;
  top: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;  
  height: 95%;
  z-index: 2;
  justify-content: flex-end;
}

#navigationBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: #ffffff; 
  opacity: .1;
  padding: 20px;
  z-index: 1;
}

#MakeAWhaleLogo {
  width: 50px;
}
#mainIcon {
  top: 0;
  position: absolute;
  width: 40px;
  opacity: 80%;
  z-index: 99;
}

#mainCTA {
  width: 25vw;
  margin-bottom: 50px;
  margin-left: -10px;
  max-width: 500px;
}

hr {
  width: 96%;
  opacity: .5;
}

.whaleImage {
  position: absolute;
  right: -30vw;
  top: -20%;
  width: 70vw;
  max-width: 1100px;
}

#textBoxRow {
  margin-top: 50px;
  margin-bottom: 100px;
}
.textBlockContainer {
  min-height: 300px;
  padding: 35px 25px;
  
} 

.textBlock {
   background: rgba(255, 255, 255, 0.1);
   min-height: 80%;
   padding: 35px 25px;
   border-top: solid 2px #02f4f5;
}
.description {
  font-size: 1rem;
}


.nomatterwhat {
  padding: 5px; 
  margin-top: 7%;
  font-size: 1.3rem;
  background-image: linear-gradient(to right, rgba(255,255,255,.1), rgba(255, 255, 255, 0));

}

.icon {
  margin-top: 20px;
  opacity: 60%;
  z-index: 99;
}



#discordIcon:hover {
  opacity: 100%;
}
#twitterIcon:hover {
  opacity: 100%;
}
#instagramIcon:hover {
  opacity: 100%;
}
#ethIcon:hover {
  opacity: 100%;
}


.SubMainHeader {
  font-size: 150%;
  font-weight: bold;
  color: white;
  opacity: 1;
  line-height: 2rem;
  margin-bottom: 10px;
}
.MainDefinition {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  opacity: .5;
  width: 75%;
  letter-spacing: 5px;
}

.InspiredBy {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  color: #02F4F5;
}

blockquote {
  color: white;
  margin-bottom: 25px;
  font-size: 1.5rem;

}



/* Lottery Timer */

#MakeAWhaleContainer {
  background-color: #3D334F;
  padding: 10px;
  border-radius: 0;
  margin-bottom: 100px;
  text-align: center;

}


#MakeAWhaleTimerLight {
  border-radius: 100px;
  width: 10px;
  height: 10px;
}

.on {
  background-color: #26E07A;
  box-shadow: 0px 0px 5px 0px #26E07A;

} .on::after {
  color: #26E07A;
  content: "on";
  left: 15px;
  top: -6px;
  position: relative; 
}

.off {
  background-color: red;
  box-shadow: 0px 0px 5px 0px red;
}.off::after {
  color: red;
  content: "off";
  left: 15px;
  top: -6px;
  position: relative; 
}

#MakeAWhaleTimer {
  width: 100%;
  justify-content: center;
}

#MakeAWhaleTimerHeader {
  width: 100%;
  background-color: rgb(15, 31, 44);
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 0;

}

.lastwinneraddress {
  letter-spacing: 1px;
}


/* Make A Whale Stats Stats */
#MakeAWhaleStats {
  justify-content: center;
}

#MakeAWhaleStatsHeader {
  width: 100%;
  background-color: rgb(15, 31, 44);
  padding: 20px;
  border-radius: 0;
}

/* Enter Lottery Button */
#Enter {
  justify-content: center;

}

#EnterButton {
  font-size: 1rem;
  border-radius: 0;
  margin: 10px 0 10px 0;
  padding: 15px;
  background-color: #6825E6;
  border: none;
  width: 100%;
  color: white;
  transition: all ease .5;
}

#EnterButton:hover {
  color: #26E07A;
}

/* Meta Mask BUttom */
#MetaMaskButton {
  font-size: 1rem;
  border-radius: 0;
  margin: 10px 0 10px 0;
  padding: 15px;
  background-color: #c9c9c9;
  border: none;
  width: 100%;
  color: black;
  transition: all ease .5;
}

.hide { 
  display: none !important;
}

/* Vault BUttons */
.vaultbutton {
  font-size: 1rem;
  padding: 15px;
  background-color: #6825E6;
  border: none;
  color: white;
  transition: all ease .5;
  width: 100%;
}

#CheckVaultButton {
  font-size: 1rem;
  border-radius: 0;
  margin: 10px 0 10px 0;
  padding: 15px;
  background-color: #6825E6;
  border: none;
  color: white;
  transition: all ease .5;
}

#WithdrawWinnings {
  font-size: 1rem;
  border-radius: 0;
  margin: 10px 0 10px 10px;
  padding: 15px;
  background-color: #6825E6;
  border: none;
  color: white;
  transition: all ease .5;
}


/* Last Winner */
#LastWinnerContainer{
  width: 100%;
  justify-content: center;
}

#LastWinner {
  width: 100%;
  background-color: rgb(15, 31, 44);
  padding: 20px;
  border-radius: 0;
}


/* Entrants Table */

.EntrantsTableContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.EntrantsTableDiv {
  z-index: 99;
}

.EntrantsTable {
  width: 100%;

}

tr:nth-child(even){
  background-color: rgb(15, 31, 44);
  color: white;
}

tr {
  background-color: rgb(15, 31, 44);
  color: white;
}

td, th {
  padding: 8px;
} 


/* Winner modal box */
.winner-modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #3D334F;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 50px;
  border-radius: 0;
  text-align: center;
  color: white;

}



/* How To Info */

ol{
  padding: 10px;
}
li {
  color: white;
  margin: 20px;
  font-size: 1rem;
  letter-spacing: 2px;
}

/* No Web3 Components */
#NoWeb3Div {
  flex-direction: column;
  background-color: rgb(15, 31, 44);
  padding: 20px;
  padding-bottom: 20px;
  padding-bottom: 30px;
  border-radius: 0;
}

#NoWeb3Item {
  background-color: #3D334F;
  padding: 10px;
  border-radius: 0;
  margin-bottom: 100px;
  text-align: center;
}

.noweb3_text {
  margin: 20px 0 20px 0;
}


/* Footer Styles */
#footer {
  background-image: url('/BGelement.svg');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 50%;
  padding-top: 50px;
}

.disclaimer {
  font-size: .8rem;
  text-align: center;
}

.footer-icons {
  text-align: center;
  margin-bottom: 10px;
}







#digitalOceanIcon {
  width: 50px;
  opacity: 80%;
  margin: 25px;

}

#digitalOceanIcon:hover {
  opacity: 100%;
}

#sslIcon {
  width: 50px;
  opacity: 80%;
  margin: 25px;

}

#sslIcon {
  opacity: 100%;
}



/* Mobile Stylings */
@media screen and (max-width: 800px) {

  body {
    padding: 20px;
    
  }
  #navigation {
    height: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    padding: 0;
  }

    .noweb3_text {
      font-size: 1.2rem;
      letter-spacing: 3px;    
    }
  #navigationBackground {
    height: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: start;
  }

  .icon {
    margin-top: 0;
    margin-left: 50px;
  }

  #mainCTA {
    width: 100%;
    margin-top: 100px;
  }

  #HeaderV2 {
    width: 100%;
    margin-left: 0; 
    background-size: 100%;
  }

  #HeaderV2_left {
    padding-left: 0;
  }

  #MakeAWhaleImageContainer {
    position: relative;
    overflow: hidden;
  }

  .whaleImage {
    display: none;
  }

  #textBoxRow {
    margin-top: 0;
  }

  .textBlock {
    padding: 25px 20px;
    z-index: 10;
    position: relative;
  }

  
  #mainIcon {
    position: relative;
  }



  .MainDefinition {
    padding-right: 0;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 25px;
    width: 100%;
    
  }

  #defineTitle {
    font-size: 1.2rem;
  }

  .MainHeader {
      font-size: 2rem;
      margin-bottom: 50px;
  }

  .InspiredBy{
    font-size: 1rem;
    font-weight: 300;
    color: white;
    margin-bottom: 25px;
  }

  .SubMainHeader {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  #blocksleft {
    font-size: 4rem;
  }

  .nomatterwhat {
    font-size: 1rem;
  }

  .description {
    font-size: 1rem;
  }

  #MakeAWhaleMainContent {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: -150px;
  }

  .EntrantsTableContainer {
    display: none;
  }

  .lastwinneraddress {
    font-size: .6rem;
  }

  .noweb3_greeting{
    font-size: 2rem;
  }

  .noweb3_emoji {
    font-size: 4rem;
  }

}


/* Super Wide Screen */
@media screen and (min-width: 1900px) {
  .whaleImage {
    right: 10%;
    width: 50vw;
    max-width: 10000px;
  }
}


@media screen and (min-width: 3500px) {
  .whaleImage {
    right: 47%;
    width: 30vw;
    max-width: 10010px;
    top: -200px;
  }
}
